/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Colors

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #4582ec !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #fd7e14 !default;
$yellow: #f0ad4e !default;
$green: #02b875 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-500 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Body

$body-color: $gray-800 !default;

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
// stylelint-enable

/*-- scss:rules --*/

.text-muted {
    color: $text-muted;
}

/*-- css:rules --*/

/* Hack to use shadowing to outline text */

.outline-text {
    text-shadow:
        3px 3px 0px #000,
        -3px 3px 0px #000,
        -3px -3px 0px #000,
        3px -3px 0px #000;
}

/* r-stack */

/* class to remove auto margin from r-stack since it overpads sometimes  */
.reveal .margin-zero.r-stack>* {
    margin: 0;
}

/* Custom container to force images to scale up to container width */
.reveal-cell-embed img {
    min-width: 100%;
    min-height: 100%;
}

/* Captions and Figures */

/*-- Needed for wrapping captions under figures that
are NOT cell embeds --*/
.reveal .slide .quarto-figure figure {
    display: table;
}

/* Set up makeshift captioning for this container */
.reveal-cell-embed {
    text-align: center;
    font-size: 0.7em;
}

figure>figcaption {
    margin-top: 0em;
    text-align: center;
    display: table-caption;
    caption-side: bottom
}

/* remove default margin from figures to make them easier to center */
.reveal .slide .quarto-figure {
    margin-bottom: 0;
}

/* Title */

.reveal h1.title {
    font-size: 1.5em;
    text-align: left;
}

.reveal .quarto-title-block .quarto-title-authors {
    justify-content: left;
    text-align: left;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding: 0;
}

.reveal .date {
    text-align: left;
    font-size: 0.6em;
}

/* Animation */

.dash-flow line {
    animation: dash 2s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: -10;
    }
}